.todo {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  max-width: 50vw;
}

.todo > span {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
  opacity: 0;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}